/* GLOBAL AND MOBILE STYLES FIRST */

  html,body {
  margin:0;
  padding:0;
  background: #222;
  color: #C0C0C0;
  text-align: center;
  overflow-y: scroll;
  scroll-behavior:smooth;
}
	
header {
  background: #ccc;
  color: #444;
}
nav {
  background: #034f84;
  display: none;
}
nav a {
  padding: 0.7em;
  display: block;
}
#mymap{
	width:90%;
    height:300px;
    margin:auto;
}
/*styles for top button */
 .top{
      display:block;
	  vertical-align:middle;
	  line-height: 2.70em;
	  padding-right:0.5em;
	  color:#034f84;
	  margin-bottom: auto;
	  
 }
 .top:hover {
  background: rgba(200,200,200,0.96);
  color: #db9833;
 }
 /*menu and section styles */
 
#menu {

  padding: 1em;
  background: brown;
  display: block;
}
.navbutton{
	padding:0.05em;
	height:50px;
	margin:auto;
	opacity: 8;
	border-radius:30px;
}
.show-menu {
  display: block;
}
a {
  color: #fefbd8;
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
main {
  background: #eee;
  padding: 5em;
  
}
section {
  background: #888;
  margin-bottom:20px;
  padding:10px;
  
}


h2,li{
	margin-bottom:15px;
	padding:10px;
}

h1,p{
	color: purple;
	margin-bottom:20px;
	padding:10px;
	margin:auto;
}

h2{
	color:Green;
	margin-bottom:20px;
	margin:auto;
	padding:15px;
}
/*colour for placement skills heading */

h3{
	color: #ffffff;
	margin-bottom:30px;
	padding:18px;
	font-size:40px;
	margin:auto;
	
}
section, li{
	color: brown;
	font-size:90%;
	margin:auto;
	
}

/*colour for placement journey heading */
h4{
	color: brown;
	margin-bottom:15px;
	font-size:30px;
	
}
/*sub heading colors */
p{
	text-align: left;
	line-height:20px;
	font-family:arial;
	color:red;
	font-size: auto;
}
ul.personalprolist{
	text-align: left;
	color:brown;
	font-size:19px;
	list-style-type:circle;
	
}
ul.list{
	list-style-type:square;
	list-style-position:inside;
	font-size:20px;
	padding: 15px;
	text-align: left;

}
/* Style each subsections*/
.section{
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
	
	
}

.subsection{
	background: #41f444;
    padding-top: 50x;	
}
.subSection1{
	background: #33f8ff;
	box-sizing: border-box;
}
.subSection2{
	
	box-sizing: border-box;
}
.subSection3{
	background-image:url(images/matrix.jpg);
	box-sizing: border-box;
    margin: auto;
		
}

.subSection4{
	background: #00ffc9;
	box-sizing: border-box;
	margin:10px;
	padding-left:10px;
	
}

/*hidden backgrounds ebhind section */

.sec1{
	background-image:url(images/road.jpg);
	min-height:500px;
}
.sec2{
	background-image:url(images/interests.jpg);
}
.sec3{
	background-image:url(images/skills.png);
}
.sec4{
	background-image:url(images/wood.jpg);
}
.sec5{
	background-image:url(images/contact.jpg);
}
/* Style the image for section 2:common interests*/
.mypic {
	opacity:0.6;
	filter: alpha(opacity=50);
	height: 320px;
	width:320px;
	margin:auto;
}
.mypic:hover{
	border: 2px solid red;
	width: 390px;
	height: 490px;
}
.societypic{
	border-radius:50%;
	width: 90%;
    margin: auto;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
	
}
.societypic:hover{
	opacity: 1;
	transform: rotate(360deg);
}
.chesspic{
	width: 90%;
    margin: auto;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
	
}
.chesspic:hover{
	opacity: 1;
    transform: rotate(360deg);
	
}
.bikepic{
	border-radius:40%;
	width: 90%;
    margin: auto;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
	
}
.bikepic:hover {
	opacity: 1;
	transform: rotate(360deg);
}

.bookpic{
	width: 90%;
    margin: auto;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
	
}
.bookpic:hover{
	opacity: 1;
    transform: rotate(360deg);
	
}


/* Style the image for section 3:skills*/
.projectpic{
	height:200px;
	width: 100%;
    margin: auto;
	
}
.solvepic{
	height:200px;
	width: 90%;
    margin: auto
	
}
.analyticalpic{
	height:200px;
	width: 90%;
    margin: auto
}
.presentpic{
	height:200px;
	width: 90%;
    margin: auto
}
.clockpic{
	height:200px;
	width: 90%;
    margin: auto
}
.slideshow{
	width:150%;
	position: relative;
	height:300px;
	overflow: hidden;
	margin: auto;
	
}
.slide-img{
	height: 100%;
	position:absolute;
	width:100%;
	animation: round 18s infinite;
	opacity:4;
	border-radius:10%;
	width:50%;
	margin:auto;
}
@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

slide-img:nth-child(1) { animation-delay: 12s; }
slide-img:nth-child(2) { animation-delay: 8s; }

	


/* FIRST BREAKPOINT (MEDIUM screen) */
@media screen and (min-width: 520px) {
  header {
    background: #444;
    color: #034f84;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: blue;
  }
 
 
  h1 {
    font-size: 2em;
  }
  main {
    width: 100%;
    margin: 0 auto;
    
  }
  section {
    
    display: inline-block;
    background: #444;
    color: #999;
  }
  .subSection1{
	box-sizing: border-box;
	margin:10px;
  }
  .subSection4{
	background: #00ffc9;
	box-sizing: border-box;
	margin:10px;
	padding-left:10px;
	
}
  section:hover {
    background: #666;
  }
}
/*BREAKPOINT starts */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 900px) {
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
 
    section {
    width: 22%;
    margin: auto;
    background: #80ced6;
    border-color: #666;
    font-size: 1.5em;
  }
}
/* END SECOND BREAKPOINT */