*{
	margin:0px;
	padding: 0px;
}

html, body{
	height:100%;
}

nav {
	height:50px;
	background:rgba(0,0,0,.5);
	width:100%;
	position:fixed;
	z-index:99;
}
ul {
	width: 80%;
	margin: 0 auto;
	padding: 0;
    
}
/* Style the links inside the navigation bar */
ul li  {
    list-style: none;
	display: inline-block;
	padding: 20px;
}
ul li:hover
{
    background-color: blue;
}
ul li a{
	color: #fff;
	text-decoration: none;
}



h2,p{
	margin-bottom:20px;
	padding:10px;
}
h2{
	color:#3e4444;
}

p{
	line-height:30px;
	font-family:arial;
	color:green;
}
/* Style each subsections*/
.section{
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.subsection{
	height: 20%;
	background: #41f444;
    padding-top: 50x;	
}
.subSection1{
	background: #00ffc9;
	box-sizing: border-box;
}
.subSection2{
	background: #00ffc9;
	box-sizing: border-box;
}
.subSection3{
	background: #00ffc9;
	box-sizing: border-box;
}
.subSection4{
	background: #00ffc9;
	box-sizing: border-box;
}

p.inset 
{border-style: inset;
 margin: 1 auto;
}

.sec1{
	background-image:url(images/Wood.jpg);
}
.sec2{
	background-image:url(images/interests.jpg);
}
.sec3{
	background-image:url(images/skills.png);
}
.sec4{
	background-image:url(images/Wood.jpg);
}
.sec5{
	background-image:url(images/contact.jpg);
}







/* --------- Basic responsive breakpoint --------- */
.toggle{
	width:100%;
	padding: 10px 20px;
	background: #001f44;
	text-align: right;
	box-sizing: border-box;
	color:#fff;
	font-size:20px;
    	
}
@media (max-width:768px)
{
     .toggle
     {
	display: block;
     }
}
}




