/* GLOBAL AND MOBILE STYLES FIRST */

  html,body {
  margin:0;
  padding:0;
  background: #222;
  color: #C0C0C0;
  text-align: center;
  overflow-x: hidden;
  scroll-behavior:smooth;
}

/*styles for loading screen*/
.rotate{
    width: 80px;
    height: 80px;
    animation: load5 1.1s infinite ease;
    border: 8px solid #ff0000;
    border-top:9px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}
@keyframes spin {
     0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#overlay{
  height:100%;
  width:100%;
  background:rgba(2, 4, 9, 1);
  position:fixed;
  left:0;
  top:0;
}
 
	
header {
  background: #ccc;
  color: #444;
}
nav {
  background: #034f84;
  display: none;
}
nav a {
  padding: 0.9em;
  display: block;
  margin:auto;
  
}
/*styles for map/size */
#mymap{
	width:90%;
    height:300px;
    margin:auto;
}
/*styles for onclick pinpoint map button */
#drop{
	opacity:100;
	border-radius:10px;
	color:green;
	font-weight:Bold;
	padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*drop function shadow:hover adapted by:https://www.w3schools.com/css/css3_buttons.asp*/
#drop:hover{
	box-shadow: 0 12px 17px 0 rgba(0,0,0,0.25), 0 17px 45px 0 rgba(0,0,0,0.20);
}

/*styles for top button */
 .top{
      display:block;
	  vertical-align:middle;
	  line-height: 2.70em;
	  padding-right:0.5em;
	  color:#034f84;
	  margin-bottom: auto;
	  font-size:21px;
	  font-weight: bold;
	  
 }
 .top:hover {
  background: rgba(200,200,200,0.96);
  color: #db9833;
 }
 /*menu and section styles */
 
#menu {

  padding: 0.16em;
  background: brown;
  display: block;
  padding:0.17em;
  height:35px;
  margin:auto;
  opacity: 8;
  border-radius:25px;
  font-size:20px;
  font-weight: bold;
}

.show-menu {
  display: block;
  
}
a {
  color: #fefbd8;
  text-decoration: none;
  
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
main {
  background: #eee;
  padding: 5em;
  
}
section {
  background: #888;
  margin-bottom:20px;
  padding:10px;
  
}


h2,li{
	margin-bottom:15px;
	padding:10px;
}

h1,p{
	color: purple;
	margin-bottom:20px;
	padding:10px;
	margin:auto;
	
}

h2{
	color:Green;
	margin-bottom:20px;
	margin:auto;
	padding:15px;
}
/*colour for placement skills heading */

h3{
	color: #ffffff;
	margin-bottom:30px;
	padding:18px;
	font-size:40px;
	margin:auto;
	
}
section, li{
	color: slateblue;
	font-size:120%;
	margin:auto;
	text-align:left;
	font-weight:bold;
	
}

/*colour for placement journey heading */
h4{
	color: brown;
	margin-bottom:15px;
	font-size:30px;
	
}
/*sub heading colors */
p{
	text-align: left;
	line-height:20px;
	font-family:arial;
	color:red;
	margin-top:0;
	margin-bottom:1.5em;
	max-width: 90em;
    margin: 0 auto;
}
/* Style for my personal profile list items*/
ul.personalprolist{
	text-align: center;
	color:brown;
	font-size:19px;
	list-style-type:circle;
	font-weight: bold;
	
}/* Style for my placement section list items*/
ul.list{
	list-style-type:square;
	font-size:15px;
	padding-left: 15px;
	text-align: left;
	

}
/* Style each subsections*/
.section{
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
	
	
}
/* Style for the grid-box sections*/
.subsection{
	background: #41f444;
    
	
}
.subSection1{
	background: #33f8ff;
	box-sizing: border-box;
}
.subSection2{
	
	box-sizing: border-box;
}
.subSection3{
	background-image:url(images/matrix.jpg);
	box-sizing: border-box;
    margin: auto;
		
}

.subSection4{
	background: #00ffc9;
	box-sizing: border-box;
	margin:10px;
	padding-left:10px;
	
}

/*hidden backgrounds behind the section(overlay) */

.sec1{
	background-image:url(images/road.jpg);
	min-height:600px;
	width:100%;
	margin: auto;
	
}
.sec2{
	background-image:url(images/interests.jpg);
	min-height:600px;
	width:100%;
	margin: auto;
}
.sec3{
	background-image:url(images/skills.png);
}
.sec4{
	background-image:url(images/wood.jpg);
}

/* Style the image for section 1:personal profile*/
.mypic {
	opacity:0.6;
	filter: alpha(opacity=50);
	height: 320px;
	width:320px;
	margin:auto;
	
}
.computing{
	border-radius:13%;
	width: 90%;
    margin: auto;
	opacity: 7;
	border: 3px solid blue;
	height:75%;
	margin-left:auto;
	margin-right:auto;
	
}
.den{
	border-radius:13%;
	width: 90%;
    margin: auto;
	opacity: 7;
	border: 3px solid blue;
	height:75%;
	margin-left:auto;
	margin-right:auto;
	
}
.frontend{
	border-radius:13%;
	width: 90%;
    margin: auto;
	opacity: 7;
	border: 3px solid blue;
	height:75%;
	margin-left:auto;
	margin-right:auto;
	
}
.mypic:hover{
	border: 2px solid red;
	width: 390px;
	height: 490px;
}
/* images styled for section 2:common interests*/
.societypic{
	border-radius:70%;
	width: 50%;
	height:30%;
	margin:auto;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
	border: 3px solid blue;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	
}
.societypic:hover{
	opacity: 1;
	transform: rotate(360deg);
}
.chesspic{
	border-radius:30%;
	width: 50%;
	height:30%;
	margin:auto;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
	border: 3px solid blue;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	border: 4px solid brown;
	
}
.chesspic:hover{
	opacity: 1;
    transform: rotate(360deg);
	
}
.bikepic{
   border-radius:30%;
	width: 50%;
	height:30%;
	margin:auto;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	border: 3px solid black;
	
}
.bikepic:hover {
	opacity: 1;
	transform: rotate(360deg);
}

.bookpic{
	border-radius:30%;
	width: 50%;
	height:30%;
	margin:auto;
	transition: all 0.7s ease-in-out;
	opacity: 0.5;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	border: 3px solid green;
	
}
.bookpic:hover{
	opacity: 1;
    transform: rotate(360deg);
	
}


/* Style the image for section 3:skills*/
.projectpic{
	border-radius:70%;
	width: 50%;
	height:30%;
	margin:auto;
	opacity: 0.5;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	transition: all 0.7s ease-in-out;
	border: 3px solid #3e4444;
	
}
.projectpic:hover{
	opacity: 1;
    transform: rotateY(180deg);
	
}
.solvepic{
	border-radius:70%;
	width: 50%;
	height:30%;
	margin:auto;
	opacity: 0.5;
	border: 3px solid blue;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	transition: all 0.7s ease-in-out;
	
}
.solvepic:hover{
	opacity: 1;
    transform: rotateY(180deg);
}

.analyticalpic{
	border-radius:70%;
	width: 50%;
	height:30%;
	margin:auto;
	opacity: 0.5;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	transition: all 0.7s ease-in-out;
	border: 3px solid #cab577;
	
	
}
.analyticalpic:hover{
	opacity: 1;
    transform: rotateY(180deg);
}
.presentpic{
	border-radius:70%;
	width: 50%;
	height:30%;
	margin:auto;
	opacity: 0.5;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	transition: all 0.7s ease-in-out;
	border: 3px solid #ff3333;
	
}
.presentpic:hover{
	opacity: 1;
    transform: rotateY(180deg);
}
.clockpic{
	border-radius:70%;
	width: 50%;
	height:30%;
	margin:auto;
	opacity: 0.5;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	transition: all 0.7s ease-in-out;
	border: 6px solid #4000ff;
	
}
.clockpic:hover{
	opacity: 1;
    transform: rotateY(180deg);
}
/* slideshow section for two images*/
.slideshow{
	width:150%;
	position: relative;
	height:300px;
	overflow: hidden;
	margin: auto;
	
}
.slide-img{
	height: 90%;
	position:absolute;
	animation: round 16s infinite;
	opacity:4;
	border-radius:10%;
	width:60%;
	margin:auto;
	border: 3px solid red;
	
}
@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

slide-img:nth-child(1) { animation-delay: 5s; }
slide-img:nth-child(2) { animation-delay: 8s; }

/* transitions utlised for images in container*/

.card-container{
	height:275px;
	cursor:pointer;
	perspective: 800px;
	position: relative;
	width: 70%;
	margin:auto;
	display: inline-block;
	padding: 0.6em;
}
.card {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 2s ease-in-out;
  width: 100%;
  
}
.card:hover {
	opacity: 5;
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 110%;
  font-size:16px;
  
}
.card .back {
  background: blue;
  color: white;
  line-height: 40px;
  text-align:center;
  transform: rotateY(180deg);
  
  
}
/* Social media links and styles */
#media-wrap {
  width: 190px;
  height: auto;
  margin: 20px auto;
  background-color:black;
  border: 7px solid brown;
  border-width: 40px;
  padding-top:20px;
  padding-left:10px;
  
  }
  
.icon {
  display: block;
  width: 61px;
  height: 60px;
  margin-top: 50px;
  margin-right: 5px;
  text-align: left;
  background: transparent url(http://digital-hideaway.com/always/social-icons.png) 0 0 no-repeat;
  background-size: 200px;
  border-radius:17%;
  background-color:yellow;
  border:5px solid red;
  margin:auto;
}

#twitter {
  background-position: 0px 0px;
  -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease; 
   }

#twitter:hover {
  background-position: 0px -60px; 
  }
  
#facebook {
  background-position: -81px 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  }
  
  #linkedin {
  background-position: -139px 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; 
		  }
  
#facebook:hover {
  background-position: -69px -62px; 
  }
  
  #linkedin:hover {
  background-position: -139px -62px; 
  }


/* FIRST BREAKPOINT (MEDIUM screen) */
@media screen and (min-width: 520px) {
  header {
    background: #444;
    color: #034f84;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: blue;
  }
 
 
  h1 {
    font-size: 2em;
  }
  p{
	  line-height:1.75em;
	  margin-bottom:1.75em;
  }
  main {
    width: 100%;
    margin: 0 auto;
    
  }
  section {
    
    display: inline-block;
    background: #444;
    color: #999;
  }
  .subSection1{
	box-sizing: border-box;
	margin:10px;
  }
  .subSection4{
	background: #00ffc9;
	box-sizing: border-box;
	margin:10px;
	padding-left:10px;
	
}
  section:hover {
    background: #666;
  }
}
/*BREAKPOINT starts */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 900px) {
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 2em;
    width: inherit;
  }
  #menu {
    display: none;
  }
 
    section {
    width: 22%;
    margin: auto;
    background: #80ced6;
    border-color: #666;
    font-size: 1.5em;
  }
}
/* END SECOND BREAKPOINT */